doctype html
html
  head
    title Palette Previewer
    link(rel='stylesheet', href='/styles.css')
  body
    label.switch.top-left
      input(type='checkbox', onclick='toggleMode()')
      span.slider.round

    label.switch.top-right
      input(type='checkbox', id='grayscaleToggle')
      span.slider.round



    a(href='/' class='title-link')
      .title-container
        h1 Kaleidoscopic

    div.centered 
      div.button-container

    div.centered
      each color, i in palette
        div(class='color-block', style=`background-color: ${color.css()}; color: ${textColors[i]};`, data-color=color.hex())

    div.code-box.centered
      pre#hexCodes
        | [
        each color, i in palette
          | "#{color.hex()}"
          if i !== palette.length - 1
            | ,
        | ]

   

    script.
      var grayscale = false;

      document.getElementById('grayscaleToggle').addEventListener('change', function() {
          if (this.checked) {
            convertToGrayscale();
          } else {
            convertToOriginal();
          }
      });


      function convertToGrayscale() {
        document.querySelectorAll('.color-block').forEach(function(colorBlock) {
          var rgb = hexToRgb(colorBlock.dataset.color);
          var grayscale = Math.round((rgb.r * 0.3) + (rgb.g * 0.59) + (rgb.b * 0.11));
          colorBlock.style.backgroundColor = `rgb(${grayscale}, ${grayscale}, ${grayscale})`;
        });
      }

      function convertToOriginal() {
        document.querySelectorAll('.color-block').forEach(function(colorBlock) {
          colorBlock.style.backgroundColor = colorBlock.dataset.color;
        });
      }
      function toggleMode() {
        var isDarkMode = document.body.classList.toggle('dark');
        
        // Change color of the grayscale slider
        if (isDarkMode) {
          document.documentElement.style.setProperty('--slider-color', '#fdfdfd');
          document.documentElement.style.setProperty('--slider-bg-color', '#2c2c2c');
        } else {
          document.documentElement.style.setProperty('--slider-color', '#2c2c2c');
          document.documentElement.style.setProperty('--slider-bg-color', '#fdfdfd');
        }
      }

      
      // Copy color code to clipboard
      document.querySelectorAll('.color-block').forEach(function(colorBlock) {
        colorBlock.addEventListener('click', function() {
          var color = this.dataset.color;
          navigator.clipboard.writeText(color).then(function() {
            console.log('Copied color to clipboard:', color);
          }, function(err) {
            console.error('Could not copy color:', err);
          });
        });
      });
      
      // Helper function to convert hex to RGB
      function hexToRgb(hex) {
        var shorthandRegex = /^#?([a-f\d])([a-f\d])([a-f\d])$/i;
        hex = hex.replace(shorthandRegex, function(_, r, g, b) {
          return r + r + g + g + b + b;
        });
        var result = /^#?([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})$/i.exec(hex);
        return result ? {
          r: parseInt(result[1], 16),
          g: parseInt(result[2], 16),
          b: parseInt(result[3], 16)
        } : null;
      }

